@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Material+Icons);

body {
  margin: 0 auto;
  padding: 5vw;
}

* {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

@media print {

  body {
    margin: 0;
    padding: 1vw;
    width: 40vw;
  }

  .no-print {
    display: none;
  }
}
